<h1>
    JOIN US
</h1>
<p>
    Enter your email to join <strong><%= total %></strong> others on our waitlist.
    We are 100% not a cult.
</p>
<form  method="POST" action="/register">
   <input type="text" name="email" class="form" placeholder="enter your email address">
    <button type="submit">
        Join Now!
    </button>
</form>